body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: #F3C6BD;
    padding: 57px 0px 58px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
margin-right: 15px;
}

.logo_tittle{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo_text{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header_link{
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #2B292D;
    text-decoration:none;
} 

.header_link:hover{
    text-decoration: underline;
}

.header_ul{
    margin-right: 75px;
}

.header_li:not(:last-of-type){
margin-right: 30px;
}

.header_link:hover{
    font-weight: bold;
}

.header_button{
    width: 160px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100% ), #3040C4;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: bold;
}

.header_button:hover{
    text-decoration: underline;
    cursor: pointer;
    transition: 1s;
    background:linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100% ), #172df3 ;
}

.section{
    background-color: #F4F5F7;
    padding: 77px 0px 76px;
}

.section_2{
    margin-top: 65px;
    margin-bottom: 106px;
}

.flex_1{
    display: flex;
    justify-content: space-between;
}

.wrapper_1{
    padding-left: 130px;
}

.wrapper_2{
    padding-right: 130px;
}

.tittle_1{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    text-align:left;
}

.text{
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    max-width: 555px;
}

.flex_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_2:no(last-of-type){
    margin-left: 105px;
}

.flex_2:no(first-of-type){
    margin-right: 105px;
}

.section_grid{
    
}

.grid{
    display: grid;
    gap:50px ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 200px);
    justify-content: center;
}

.grid_tittle{
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: #000000;
    text-align: center;
    padding-bottom: 26px;
    margin-top: 90px;
}

.grid_tittle_1{
    font-weight: 400;
font-size: 24px;
line-height: 34px;
text-align: center;
color: #172342;
padding-bottom: 96px;
padding-top: 28px;
max-width: 554px;
margin: 0 auto;
}

.item_men, .item_haight{
    grid-row: span 2;
}

.section_3{
    background-color: #caf0f9;
    max-height: 983px;
}

.text_3{
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #000000;
    padding-top: 108px;
}

.tittle_3{
    font-size: 56px;
line-height: 56px;
font-weight: bold;
max-width: 555px;
margin: 0px auto;
text-align: center;
color: #2B292D;
padding-top: 24px;
padding-bottom: 30px;
}

.text_3_1{
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    max-width: 555px;
    margin: 0px auto;
    padding-bottom: 34px;
}

.section_icons{
   padding-bottom: 110px;
}

.grid_icons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.wrapper_icons{
    width: 262px;
    height: 300px;
    border-radius: 10px;
    background-color: #ffffff;
}

.img{
    margin-left: 57px;
    margin-top: 20px;
}

.img_1{
    margin-top: 20px;
    margin-left: 64px;
}

.icons_text{
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.wrapper_icons:hover{
    background-color: #3141C5;
    cursor: pointer;
    transition: 1s;
    color: white;
}




.section_buttons{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.buttons_1{
   padding: 17px 28px 18px;
   background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
   background-blend-mode: overlay, normal;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
   border-radius: 2px;
   border: none;
   font-weight: bold;
    line-height: 13px;
    color: #FFFFFF;
    margin-bottom: 111px;

}

.buttons_2{
    padding: 17px 28px 18px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    border: none;
    line-height: 13px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 111px;
}

.wrapper_button_1{
    margin-right: 10px;
}

.wrapper_button_2{
    margin-right: 10px;
}

.buttons_1:hover{
    cursor: pointer;
    background-color: #FFFFFF;
    transition: 2s;
    color: #000000;
}

.buttons_2:hover{
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;;
    transition: 2s;
    color: #ffffff;
}