body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: #F3C6BD;
    padding: 57px 0px 58px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
margin-right: 15px;
}

.logo_tittle{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo_text{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header_link{
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #2B292D;
    text-decoration: none;
}

.header_ul{
    margin-right: 75px;
}

.header_li:not(:last-of-type){
margin-right: 30px;
}

.header_link:hover{
    font-weight: bold;
}

.header_button{
    width: 160px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100% ), #3040C4;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: bold;
}

.header_button:hover{
    cursor: pointer;
    transition: 1s;
    background:linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100% ), #172df3 ;
}

.section{
    background-color: #F4F5F7;
    padding: 77px 0px 76px;
}

.section_2{
    margin-top: 65px;
}

.container_2{
    max-width: 555px;
}

.flex_1{
    display: flex;
    justify-content: space-between;
}

.wrapper_1{
    padding-left: 130px;
}

.wrapper_2{
    padding-right: 130px;
}

.tittle_1{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    text-align:left;
}

.tittle_2{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    text-align:left;
}

.text_1{
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.text_2{
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.flex_2{
    display: flex;
    justify-content: space-between;
}

.flex_2:no(last-of-type){
    margin-left: 105px;
}

.flex_2:no(first-of-type){
    margin-right: 105px;
}