body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: #F3C6BD;
    padding: 57px 0px 58px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_4{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_start{
    justify-content: flex-start;
}

.logo img{
margin-right: 15px;
}

.logo_tittle{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo_text{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header_link{
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #2B292D;
    text-decoration:none;
} 

.header_ul{
    margin-right: 75px;
}

.header_li:not(:last-of-type){
margin-right: 30px;
}

.header_link:hover{
    font-weight: bold;
    text-decoration: underline;
}

.button{
    width: 160px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100% ), #3040C4;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}

.button:hover{
    cursor: pointer;
    transition: 1s;
    background:linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100% ), #172df3 ;
}

.section{
    background-color: #F4F5F7;
    padding: 77px 0px 76px;
}

.section_2{
    margin-top: 65px;
    margin-bottom: 106px;
}

.flex_1{
    display: flex;
    justify-content: space-between;
}

.wrapper_1{
    text-align: left;
}

.section_tittle_1{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    text-align:left;
}

.section_text{
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    max-width: 555px;
}

.flex_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_2:no(last-of-type){
    margin-left: 105px;
}

.flex_2:no(first-of-type){
    margin-right: 105px;
}

.inbox{
    background: rgba(252, 240, 227, 0.4);
    padding: 115px 0 116px;
}

.inbox_response{
   max-width: 519px;
   width: 100%;
    background: white;
    padding: 30px 30px 24px;
    box-sizing: border-box;
    border-bottom: 4px solid #0185D0;
}

.inbox_text{
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    padding-bottom:26px;
}

.inbox_text-bold{
    font-weight: 700;
}

.inbox_img{
    margin-right: 11px;
}

.inbox_name{
    font-weight: 700;
    line-height: 22px;
    color: #2B292D;
}

.inbox_position{
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.info_pretittle{
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    margin-bottom:26px;
}

.info_pretittle-orange{
    color: #F1592B;
}

.info_tittle{
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0,5px;
    color: #2B292D;
    font-weight: bold;
    max-width: 462px;
    margin-bottom: 26px;
}

.info_text{
    max-width: 461px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 44px;
}

.inblock{
    padding: 110px 0 105px;
}

.inblock_tittle{
   max-width: 225px;
   font-size: 22px;
   font-weight: bold;
   line-height: 34px;
   color: #0189D1;
   padding-bottom: 24px;
}

.inblock_text{
    font-size: 56px;
    line-height: 56px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: #2B292D;
    max-width: 462px;
    padding-bottom: 24px;
}

.inblock_response{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    max-width: 461px;  
    padding-bottom: 45px;
}

.inblock_button{
    width: 160px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100% ), #3040C4;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: bold;
}

.inblock_button:hover{
    cursor: pointer;
    transition: 1s;
    background:linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100% ), #172df3 ;
}

.flex_3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inblock_container-text{
    max-width: 360px;
    line-height: 26px;
    font-size: 18px;
    color: #2B292D;
    padding-top: 105px;
    
}

.inblock_container-text:not(first-of-type){
    margin-left: 30px;
}

.inblock_container-link:not(first-of-type){
    margin-left: 30px;
}

.inblock_pretittle{
    font-weight: bold;
}

.inblock_container-link{
    font-weight: 700;
    line-height: 26px;
    color: #3040C4;
}



.grid_tittle{
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: #000000;
    text-align: center;
    padding-bottom: 26px;
    margin-top: 90px;
}

.grid_tittle_1{
    font-weight: 400;
font-size: 24px;
line-height: 34px;
text-align: center;
color: #172342;
padding-bottom: 96px;
padding-top: 28px;
max-width: 554px;
margin: 0 auto;
}

.section_3{
    background-color: #caf0f9;
    max-height: 983px;
}

.section_3-text{
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #000000;
    padding-top: 108px;
}

.section_3-tittle{
    font-size: 56px;
line-height: 56px;
font-weight: bold;
max-width: 555px;
margin: 0px auto;
text-align: center;
color: #2B292D;
padding-top: 24px;
padding-bottom: 30px;
}

.section_3-text_1{
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    max-width: 555px;
    margin: 0px auto;
    padding-bottom: 34px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
}

.grid_img{
    width: 100%;
    height: 100%;
}

.section_icons{
   padding-bottom: 110px;
}

.grid_icons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.wrapper_icons{
    width: 262px;
    height: 300px;
    border-radius: 10px;
    background-color: #ffffff;
}

.section_icons-img_1{
    margin-left: 57px;
    margin-top: 20px;
}

.section_icons-img_2{
    margin-top: 20px;
    margin-left: 64px;
}

.icons_text{
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.wrapper_icons:hover{
    background-color: #3141C5;
    cursor: pointer;
    transition: 1s;
    color: white;
}




.section_3-buttons{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.buttons_1{
   padding: 17px 28px 18px;
   background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
   background-blend-mode: overlay, normal;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
   border-radius: 2px;
   border: none;
   font-weight: bold;
    line-height: 13px;
    color: #FFFFFF;
    margin-bottom: 111px;

}

.buttons_2{
    padding: 17px 28px 18px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    border: none;
    line-height: 13px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 111px;
}

.wrapper_buttons{
    margin-right: 10px;
}

.wrapper_button_2{
    margin-right: 10px;
}

.buttons_1:hover{
    cursor: pointer;
    background-color: #FFFFFF;
    transition: 2s;2
    color: #000000;
}

.buttons_2:hover{
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;;
    transition: 2s;
    color: #ffffff;
}


@media screen and (max-width: 1200px){
    .container{
       max-width: 1040px;
    }

    .header_ul{
        margin-right: 50px;
    }
}

@media screen and (max-width: 1090px){
    .container{
        max-width: 750px;
    }

    .logo_text{
        display: none;
    }

    .header_nav{
        display: none;
    }

    .flex__inbox-column{
        flex-direction: column-reverse;
    }

    .inbox{
        padding: 56px 0 69px    
    }

    .info{
        text-align: center;
    }

    .info_tittle{
        margin: 0 auto 14px;
        font-size: 48px;
        line-height: 52px;
    }  

    .info_text{
        max-width: 429px;
        margin: 0 auto 41px;
        font-size: 20px;
        line-height: 26px;
    }

    .inbox_response{
        margin: 0 auto 75px;
        text-align: start;
    }

    .grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 29px 45px;
    }

    .grid_img:nth-child(7){
        display: none;
    }

    .grid_img:nth-child(3){
        grid-column: 2/2;
        grid-row: 1/3;
      }

      .grid_img:nth-child(2){
        grid-row: 4/5;
        grid-column: 2/3;
      }

      .grid_img:nth-child(4){
        grid-row: 2/4;
      }

      .grid_img{
        width: 100%;
        height: 100%;
      }

      .flex_1{
        flex-direction: column;
        justify-content: center;
      }

      .section_tittle_1, .section_text{
        max-width: 432px;
        padding-left: 150px;
      }

      .media_text_1{
        padding-bottom: 60px;
      }

      .media_tittle_1{
        margin-top: 30px;
      }

      .section{
        padding: 0px;
      }

      .media_text_2{
        margin-bottom: 32px;
      }

      .media_img{
        max-width: 100px;
      }

      .flex_2{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
      }

      .section_2{
        margin: 25px 0px 41px;
      }

      .flex_4{
        display: flex;
        flex-direction: column;
      }

      .inblock{
        padding-top: 73px;
        padding-bottom: 38px;
      }

      .inblock_text{
        font-size: 48px;
        max-width: 318px;
        padding-left: 50px;
      }

      .inblock_response{
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        max-width: 419px;
      }

      .flex_3{
        align-items: center;
      }

      .inblock_tittle{
        text-align: center;
        max-width: none;
        padding-bottom: 18px;
      }

      .inblock_response{
        text-align: center;
        padding-bottom: 41px;
      }

      .inblock_button{
         margin-left: 125px;
         margin-bottom: 37px;
      }

      .inblock_text{
        text-align: center;
        padding-bottom: 19px;
      }

      .inblock_container_info:nth-child(2){
        display: none;
      }

      .inblock_container_info:nth-child(3){
        display: none;
      }

      .inblock_container_info{
        margin-bottom: 10px;
      }

      .inblock_container-text{
        max-width: 322px;
        text-align: center;
        padding-top: 0px;
        margin-top: 38px;
      }

      .inblock_container-link{
        padding-left: 35px;
      }

      .section_3-tittle{
        max-width: 413px;
        font-size: 48px;
      }

      .grid_icons{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
      }

      .wrapper_button_2{
        max-height: 48px;
      }

      .wrapper_buttons{
        max-height: 48px;
      }

      .link_buttons{
        max-height: 48px;
      }

      .section_3{
        max-height: 1150px;
      }

      .section_3-text{
        padding-top: 55px;
      }

      .section_3-tittle{
        padding-top: 27px;
        padding-bottom: 27px;
      }

      .section_3-text_1{
        padding-bottom: 27px;
      }

      .section_icons{
        margin-top: 52px;
        margin-bottom: 0px;
      }
}

@media screen and (max-width: 800px){
    .container{
        max-width: 500px;
    }

    .header{
        padding: 25px 0px;
    }

    .inbox{
        padding: 40px 0px;
    }

    .inbox_response{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 550px){
    .container{
        max-width: 430px;
    }

    .info_pretittle{
        margin-bottom: 20px;
    }

    .info_tittle{
        font-size: 36px;
        line-height: 48px;
    }
}

@media screen and (max-width: 480px){
    .container{
        max-width: 310px;
    }

    .container-image_img{
        width: 100%
    }
}

@media screen and (max-width: 360px){
    .container{
        max-width: 300px;
    }
}

@media screen and (max-width: 320px){
    .container{
        max-width: 320px;
    }

    .header{
        background-color: #ffffff;
        padding: 8px 0;
    }

    .logo img{
        margin-right: 13px;
    }

    .inbox{
        padding: 50px 0 48px;
    }

    .container-image{
        margin-bottom: 32px;
    }

    .info{
        text-align: start;
    }

    .info_text{
        font-size: 24p*x;
        line-height: 34px;
        margin-bottom: 40px;
        margin-left: 15px;
    }

    .info_pretittle{
        margin-bottom: 17px;
        margin-left: 15px;
    }

    .info_tittle{
        font-size:40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
        margin-bottom: 18px;
        margin-left: 15px;
    }

    .flex_inbox-column{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .inbox_response{
        padding: 30px 20px;
        width: 290px;
        height: 323px;
    }

    .container-image_img{
        width: 290px;
        height: 348px;
        margin: 0px 15px;
    }

    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        gap: 17px;
    }

    .grid_img{
       height: 173.9437255859375px;
       width: 290px;
    }

    .grid_img:nth-child(2){
        display: none;
    }

    .grid_img:nth-child(3){
        grid-column: 1/2;
        grid-row: 4/6;
      }

      .grid_img:nth-child(2){
        grid-row: 4/5;
        grid-column: 2/3;
      }

      .grid_img:nth-child(4){
        grid-row: 2/4;
      }

      .grid_img{
        width: 100%;
        height: 100%;
      }

      .section_tittle_1, .section_text{
        padding-left: 0px;
        max-width: 290px;
        padding: 0px 15px;
      }

      .media_text_1{
        padding-bottom: 15px;
      }

      .media_tittle_1{
        padding-top: 34px;
        margin-top: 0px;
      }

      .media_text_2{
        padding-bottom: 46px;
        margin-bottom: 0px;
      }

      .media_img{
        width: 80px;
        height: 50px;
      }

      .section_3-text{
        font-weight: bold;
      }

      .section_3-tittle{
        max-width: 290px;
        padding-top: 17px;
        padding-bottom: 18px;
      }

      .section_3-text_1{
        max-width: 290px;
        padding-bottom: 30px;
      }

      .buttons_1, .buttons_2{
        width: 290px;
      }

      .wrapper_buttons{
        margin-bottom: 12px;
      }

      .wrapper_icons{
        width: 290px;
      }

      .inblock img{
        width: 290px;
        height: 291px;
      }

      .inblock_tittle{
        max-width: 225px;
        padding-left: 20px;
      }

      .inblock_text{
        max-width: 290px;
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 18px;
        padding-left: 1px;
        box-sizing: border-box;
      }

      .inblock_response{
        font-size: 24px;
        line-height: 34px;
        text-align: left;
        padding-left: 20px;
        padding-bottom: 30px;
      }

      .inblock_button{
        margin-left: 20px;
        margin-bottom: 40px;
      }

      .inblock_container_info:nth-child(2){
        display: flex;
        flex-direction: column;
      }

      .inblock_container_info:nth-child(3){
        display: flex;
        flex-direction: column;
      }

      .inblock_containerInfo{
        max-width: 290px;
      }

      .flex_3{
        flex-direction: column;
      }

      .inblock_container-text{
        text-align: left;
        padding-left: 20px;
      }

      .inblock_container-text:not(first-of-type){
        margin-left: 0px;
      }

      .inblock-container-link{
        max-width: 290px;
      }

      .inblock_container-link:not(last-of-type){
        padding-left: 0px;
      }

      .grid_icons{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        gap: 15px;
      }

      .section_3{
        max-height: 1908px;
      }

      .section_icons{
        margin-top: 40px;
      }

      .section_icons-img_1{
       margin-left: 74px;
      }

      .section_icons-img_2{
        margin-left: 84px;
      }
}